<a href="https://colab.research.google.com/github/DHAKSHAYINI-13/INTERNSHIP/blob/main/DHAKSHAYINI_book_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

class _2 date: 03/03/2022  **DATA TYPES**

In [ ]:
#integer
#Per-define functions

type(1)

int

In [ ]:
#do this
# value 12.4 and display output
type(12.4)

float

In [ ]:
type('string')

str

In [ ]:
type("string")

str

In [ ]:
#to-do

type('2')

str

In [ ]:
type(1j+2)

complex

In [ ]:
#list

type([1,2,3,4,5,6,])

list

In [ ]:
#to do
#make a list mentioning each data types

In [ ]:
#tuple
type((1,2,3,4))

tuple

In [ ]:
#Dictionary
Expression - {key:value, key1:value1}

In [ ]:
type({'name': 'riya'})

dict

In [ ]:
# assignment: dictionary add name and basic info

type({'name':'adya' , 'age':'22' , 'course':'data science'})

dict

In [ ]:
#print
print('hello i am dhakshayini student under mentor prachi')

hello i am dhakshayini student under mentor prachi

In [ ]:
print(1)

1

In [ ]:
#to do
#print type of data and store it
#MVP should be realistic rather than idealistic. it should be conservative rather than ambitio

In [ ]:
#variales and identifiers
strl='hello i am dhakshayini student under mentor prachi'

In [ ]:
strl

'hello i am dhakshayini student under mentor prachi'

data operators:

In [ ]:
#Data operators

#mul
2*10

20

In [ ]:
a= 35
b= 65

#multiplivation *
a*b

#subtraction -
a-b

#Division /
a/b

#floor division //
a//b 

#Addition +
a+b

#Exponention **
a**b

#store into a variable and print

23143171985618148385244286678913597734970588950324139906433544566777271711544017307460308074951171875

**Relational opertaion**

In [ ]:
#Relation operator

34==25

False

In [ ]:
2==2

True

In [ ]:
34>45

False

In [ ]:
34!=45

True

**Assignment** **operators**

In [ ]:
x=12

In [ ]:
x+=2
print(x)

14

In [ ]:
x*=3
print(x)

42

**python logical operator**
1.and
2. or
3. not

In [ ]:
#and operator

23>45 and 49 ==49

False

In [ ]:
#and operator

23<45 and 49 ==49

True

In [ ]:
#and operator

23>45 and 49 ==49 and 2==2

False

In [ ]:
# or operator

#and operator

23>45 or 49  !=49 and 2==2

False

In [ ]:
'riya'== 'riya'

True

In [ ]:
# not operator

not('riya'== 'Riya')

True

CLASS_3          Date: 04/03/2022        **SEQUENCE**

**sequneces in python :**
they are continore with items that are accessable by the indexing or string

1. **concatenation :** adding 2 lists
2. **repelation :** is any item getting repeated more that once
3. **membership testing :** applies to know particular item is present in list or not
4. **slicing :** choosing certain elements from the list . it is also indexing
5. **indexing :** mention position of particular item from 0,1,2,3. indexing stars from 0

In [ ]:
#to do 
#make own list and display (al items are integers)

type([1,2,3,4])

list

In [ ]:
#appending function : add item to existinglist in the end

ap = [1,2,3,4,5]
ap.append(14)
print(ap)

[1, 2, 3, 4, 5, 14]

In [ ]:
#insert function : a list

ins = [4,5,7,8,]
ins.insert(2,13)
print(ins)

[4, 5, 13, 7, 8]

In [ ]:
#insert function : in a list it will add the element in the given position

ins = [4,5,7,8,]
ins.insert(3,13)
print(ins)

[4, 5, 7, 13, 8]

In [ ]:
#extend function : will extend the list with 2nd list

ex1 = [5,6,7,8,9]
ex2 = [1,3,4,5,2]
ex1.extend(ex2)
ex2.extend(ex1)
print("extende list after adding ex2",ex1)
print("extende list after adding ex1",ex2)

extende list after adding ex2 [5, 6, 7, 8, 9, 1, 3, 4, 5, 2]
extende list after adding ex1 [1, 3, 4, 5, 2, 5, 6, 7, 8, 9, 1, 3, 4, 5, 2]

In [ ]:
#to do  assignment [insertion]
# insert 37 in 8th pos

ins = [2,3,4,5,6,7,8,9,1]
ins.insert(8,37)
print(ins)

[2, 3, 4, 5, 6, 7, 8, 9, 37, 1]

In [ ]:
#sum : sum of any particular ist

print(sum(ex2))

65

In [ ]:
#count function : number of times a number is repeated more than once

count1 = [1,3,4,5,2,7,5,8,9,3,5,4,1,2,4,5,6,7,8,9]
print(count1.count(3))

2

In [ ]:
#indexing : on what position a given number is present .till -1 anology metholodogy of index traversing

In = [2,4,6,8,9]
In.index(4)

1

In [ ]:
In[2]

6

In [ ]:
In[2:4]

[6, 8]

In [ ]:
min(In)

''

In [ ]:
dc = [9.1,8.2,7.4,6.5,5.6,4.3,3.1,2.4,11.2,2.4,3.9,4.6,5.5]
min('dc')

'c'

In [ ]:
print('max of dc is :' ,dc)

max of dc is : [9.1, 8.2, 7.4, 6.5, 5.6, 4.3, 3.1, 2.4, 11.2, 2.4, 3.9, 4.6, 5.5]

In [ ]:
#pop 

pop1 = [2,3,4,5,6,7]
pop1.pop(4)
print(pop1)
print(a)

[2, 3, 4, 5, 7]
45

In [ ]:
delete = [2,3,4,5]
del delete[2]

In [ ]:
delete

[2, 3, 5]

In [ ]:
#remove

remove1 = [2,3,4,5,6]
b = remove1.remove(4)
print(remove1)
print(b)

[2, 3, 5, 6]
None

In [ ]:
#to do ASSIGNMENT SWAPING
#write swaping function whrer a == c and b == a, c==b
# a=12 b=3 c=45

a = 12
b = 3
c = 45

"""
temp = a
a = b
b = c
c = temp
print(a)
print(b)
print(c)
"""

a,b = b,c = c,a
print(a)
print(b)
print(c)

45
45
12

23
23
9

In [ ]:
x = 23
y = 9
""" 
temp = x
x= y
y = temp
print(y)
print(x)
"""

x,y = y,x
print(x)
print(y)

9
23

**String**

In [ ]:
name = 'dlitHe Institute'
course = 'python certification'

In [ ]:
name.capitalize()

'Dlithe institute'

In [ ]:
name.count("a")

0

In [ ]:
name.find("i")

2

In [ ]:
name.upper()

'DLITHE INSTITUTE'

In [ ]:
name.lower()

'dlithe institute'

In [ ]:
name.strip()

'dlitHe Institute'

In [ ]:
name.isalpha()

False

In [ ]:
name.islower()

False

In [ ]:
name.isupper()

False

In [ ]:
name.islower()

False

In [ ]:
a = "riya is adya"
a.split("is")

['riya ', ' adya']

In [ ]:
b = "python"
c = "language"

#b + c
b + " "+ c

'python language'

In [ ]:
a*3

'riya is adyariya is adyariya is adya'

In [ ]:
strl = 'hello dog'

In [ ]:
len(strl)

9

In [ ]:
strl[2]

'l'

In [ ]:
strl[1:3]

'el'

In [ ]:
#replace ele 

strl.replace('dog','a')

'hello a'

Class_4  Date: 05/03/2022
**TUPLE LIST DICTIONARY**

**Tuple** : cannot be change element from the list
**List** : can be updated

In [ ]:
#tuple

this = (('mango','apple','banana','sugarcane','kiwi'))

In [ ]:
this[1]

'apple'

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = ('abc',3,4,'xyz') 
tuple3=tuple1 + tuple2

In [ ]:
tuple3

(1, 2, 3, 4, 5, 'abc', 3, 4, 'xyz')

In [ ]:
#to do done
#create a tuple('hello','word')

tuple1 = tuple('hello')
tu1 = tuple(('hello','bye'))
print(tuple1)
print(tu1)

('h', 'e', 'l', 'l', 'o')
('hello', 'bye')

In [ ]:
TU = tuple("hello",) *3
print(TU)

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

In [ ]:
#TUPLE UNPACKING

tuple4 = ("hello","riya","adya")
a,b,c = tuple4
print(a)
print(b)
print(c)

hello
riya
adya

DICTIONARY

In [ ]:
#dict

dict1 = {'name':'adya','age':'22'}

In [ ]:
#delete the key
print(dict1)
del dict1['name']
print(dict1)

{'number': 3456, 'name': 'adya'}
{'number': 3456}

In [ ]:
print(dict1)

{'age': '22'}

In [ ]:
dict1['number'] = 3456
print(dict1)

{'number': 3456}

In [ ]:
dict1['name']='adya'
print(dict1)

{'number': 3456, 'name': 'adya'}

In [ ]:
dict1.pop('age')

'22'

In [ ]:
#create dictionary
dict=({"Brand":"honor","Model":"iii","year":"2021"})

In [ ]:
print(dict)

{'Brand': 'honor', 'Model': 'iii', 'year': '2021'}

In [ ]:
#copying the key-value pair from one dict to another

cp = (dict)
print(cp)

{'Brand': 'honor', 'Model': 'iii', 'year': '2021'}

In [ ]:
dict["year"]

'2021'

In [ ]:
#nested dict

dict = {'dict3':{1:'get'}, 'dict4':{'name':'for'}}

In [ ]:
dict

{'dict3': {1: 'get'}, 'dict4': {'name': 'for'}}

In [ ]:
dict['dict3'][1]

'get'

In [ ]:
dict.clear()

In [ ]:
print(dict)

{}

**LOOPS**

**Algorithm** : step sequential term of working on things

create dry wrap for a condition

1.if else : on plan or backup plan / if 2 if conditio won't wrork it will not execute.
it is a kind of decision form of where we can decide to keep the stmt or not

block : condtion ,loop, or indentation

In [ ]:
from typing_extensions import get_origin
#if condition to execute only when if th stmt is true
#problem 

raining 
if it is raining too high:
  not go
else:
  go

In [ ]:
if condition:
  stmt 1
  stmt 2

stmt3 () #depende to no any block

else:
  stmt4

In [ ]:
i=35
if(i<25):
  print("i is less than 25")

print("i am not in if block")

i am not in if block

In [ ]:
i=5
if(i<25):
  print("i is less than 25")

print("i am not in if block")

i is less than 25
i am not in if block

In [ ]:
string = 'food'

if string == 'food':
  print('cake')
  string = string*3
  print(string)

#indention error rectified
    #to do
    #specify what it is
    #also mention and clear errors

cake
foodfoodfood

In [ ]:
i= 20
if(i<15): #greater
  print("i is saller than 15")
  print("i am in if block")

else:
  print("i is greater than or equal to 15")
  print("i am in else block")

i is greater than or equal to 15
i am in else block

In [ ]:
# nested if-else

i=40
if(i==40):
  if(i<=15): #less equal
    print("i is smaller than 15")

  if(i<12):
    print("i is smaller tha 12 too")
  
  else:
    print("i is greater than 15")

i is greater than 15

In [ ]:
i=4
if (i == 40): #less equal
    if(i<=15):
      print("i is smaller than 15")

    if(i<12):
      print("i is smaller tha 12 too")
  
    else:
      print("i is greater than 15")

else:
    print("i is not 40")

i is not 40

class_5 date: 7/03/2022  **Loop continued...............**

In [ ]:
#if-else-elif  : it is like or if

if(condition):
  stmt....

elif(condition):
  stmt....

else:
  stmt....

In [ ]:
i=20
if (i ==20):
  print('i is equal tp 20')
  print('we are in if block')

elif (i == 15):
  print('i is 15')
  print('we are i elif(1) block')

elif (i == 10):
   print('is is 10')
   print('we are in elif(2) block')

else:
  print('i is equal')
  print('i is in else block')

i is equal tp 20
we are in if block

In [ ]:
#short hand if - stmt

if condition:statement

In [ ]:
i = 10
if i == 10: print('i is less than 10') #short hand code to reduce number of lines

i is less than 10

In [ ]:
#to do
#have to explore if-else short hand code and give example

**LOOPS**

**for :** works in iteration , index

*expression-:* 

 for var in iterable:

statements


**while :** works to condition .

In [ ]:
#FOR LOOP

for var in iterable:
  #statements

In [ ]:
L = [1,2,3,4,5,6]
for var in L:
  print(var)

print(var)

1
2
3
4
5
6
6

In [ ]:
l = ['car','cake','cream']
for i in l:
  print(i)

car
cake
cream

In [ ]:
l = ['car','cake','cream']
for i in l:
  for j in i:
    print(j)

c
a
r
c
a
k
e
c
r
e
a
m

In [ ]:
l = ['car','cake','cream','cup']
for i in l:
  for j in i:
    print(j)

  # to do
  #i have to replace cup with a coffee and store

c
a
r
c
a
k
e
c
r
e
a
m
c
u
p

In [ ]:
# to do
  #i have to replace cup with a coffee and store 

l = ['car','cake','cream','cup']
l[3] = ('coffee') #list position and element. so cup is replaced with coffee at position 3
print(l)

['car', 'cake', 'cream', 'coffee']

In [ ]:
#input methods

s=str(input())

adya

In [ ]:
print(type(s))

#todo

<class 'str'>

In [ ]:
s = str(input())
for i in s:
  print(i)

world
w
o
r
l
d

In [ ]:
dict = dict()
dict['a']= 234
dict['b']= 235

for i in dict:
  print(i,dict[i])

a 234
b 235

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    break
print('current letter', letter)

current letter w

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    pass
print(letter)

d

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    continue
print(letter)

d

**RANGE FOR LOOP**

In [ ]:
list(range(2,4,6)) #list(range(starting point,ending point,iteration)

[2]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l = [10,20,30,40]

for i in range(len(l)):
  print(l[i], end = " ")
  print()

10
20
30
40

In [ ]:
#to do
#perform of sum of 1st 10 natural numbers
#use loop to solve the problem

n = 10
res = sum(range(1, n + 1))
print("Sum of first ", n, "numbers is: ", res)

Sum of first  10 numbers is:  55

In [ ]:
#while loop : infinite loop till the condition is true the will be running and if the condition is false the loop will end

while expression:
  stmt(s)

In [ ]:
count = 0
while (count<3):
  count = count+1
  print('redvelvet yummy')

redvelvet yummy
redvelvet yummy
redvelvet yummy

In [ ]:
count = 0
while (count<3):
  count+=1
  print('redvelvet yummy')

redvelvet yummy
redvelvet yummy
redvelvet yummy

In [ ]:
count = 0
while (count>3):
  count = count+1
  print('redvelvet yummy')

In [ ]:
count = 0
while (count<3):
  count+=3
  print('redvelvet yummy')

redvelvet yummy

In [ ]:
#index in loop : it starts counting from last

a = [1,3,5,7]
while a:
  print(a.pop())

7
5
3
1

In [ ]:
i = 0
a = 'riyaadya'

while i<len(a):
  if a[i] == 'y':
    i+=1
    continue
  print('current letter',a[i])
  i+=1

current letter r
current letter i
current letter a
current letter a
current letter d
current letter a

In [ ]:
i = 0
a = 'riyaadya'

while i<len(a):
  if a[i] == 'y':
    i+=1
    pass
  print('current letter',a[i])
  i+=1

current letter r
current letter i
current letter a
current letter a
current letter d
current letter a

In [ ]:
i = 0
a = 'riya'

while i<len(a):
  if a[i] == 'y':
    i+=1
    break
  print('current letter',a[i])
  i +=1

current letter r
current letter i

class_6  date:8/03/2022  **FUNCTIONS**

In [ ]:
#how to zip code
questions = ['name','color','shape']
answers = ['apple','red','a circle']
for question, answer in zip(questions,answers):
  print('What is your {0}? I am {1}.'.format(question,answer))

What is your name? I am apple.
What is your color? I am red.
What is your shape? I am a circle.

In [ ]:
l = list(input().split())

12 34

In [ ]:
l = list(int(list(input())
type(l)
a = l
for i in a:
  print(i)
  print(type(i))

SyntaxError: ignored

In [ ]:
#map function : brk to values when required 

lst = []
n = int(input())

for i in range(0,4):
  ele = int(input())
  lst.append(ele)

print(lst)

123
456
798
852

KeyboardInterrupt: ignored

In [ ]:
function:
  stmt

In [ ]:
#even or odd

def eo(x):
  if (x%2 == 0):
    print('even')
  else:
    print('odd')

In [ ]:
eo(9632587410)

even

In [ ]:
#square

def square_value(num):
  return num**2

print(square_value(2))

4

In [ ]:
list = [1,2,3,4,4.4,6.8,'riya',4,5,9.8,2.2,'adya']
#to do----------find the sum of the list and remove string data type

In [ ]:
# LAMBDA FUNCTIONS : takes args and has only 1 expression deliverd and returned in only one line

x = lambda a: a + 5 #expression
print(x(22))

27

In [ ]:
# n= number     x= to assign value     db= lambda     num_double= variable  

def db(n):
  return lambda x: x*n
num_double = db(2)
print(num_double(6))

12

In [ ]:
#sep--seperate operator
print('08','03','2022', sep = '/')

08/03/2022

class_7 date: 10/03/2022 **PANDAS & NUMPY**

TO Explore data and data visualization

**pd**--------------data mani

**np**---------------high maths

**matplotlib**----graph

In [ ]:
#to inatall pandas

!pip3 install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#import the library

import pandas as pd
import numpy as np

In [ ]:
data = [1,2,3,4,5,6,'a']
d = pd.Series(data)
print(d)

0    1
1    2
2    3
3    4
4    5
5    6
6    a
dtype: object

In [ ]:
!pip3 install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
s = pd.Series([1,2,3,np.nan,8,9])  #error
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d = pd.date_range('20220310',periods = 10) #date formate date range function
print(d) #date = d

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

**DATAFRAME**

dataFrames are 2d data structure in pandas whch contains the rows and the column

In [ ]:
data = [1,2,3,4,5,6,'a'] #DataFrame
d = pd.Series(data)
df = pd.DataFrame(d)
print(df)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  a

In [ ]:


s1 = pd.Series([1,3,4,5,2,9])
s2 = pd.Series([1.1,3.5,2.3,6.7,3.8])
s3 = pd.Series(['a','b','d','j'])

data = {'first':s1, 'Second':s2, ' third':s3}
dfseries = pd.DataFrame(data)
print(dfseries)

   first  Second  third
0      1     1.1      a
1      3     3.5      b
2      4     2.3      d
3      5     6.7      j
4      2     3.8    NaN
5      9     NaN    NaN

In [ ]:
df.to_csv('basic.csv')

In [ ]:
a = pd.read_csv('basic.csv')
print(a)

   Unnamed: 0  0
0           0  1
1           1  2
2           2  3
3           3  4
4           4  5
5           5  6
6           6  a

In [ ]:
df = pd.DataFrame({'a':[1,2,3,4],
                   'b': pd.Timestamp('20220310'), 
                   'c':pd.Series(1,index = list(range(4))),
                   'd':np.array([5]*4, dtype = 'int32'),
                   'e': pd.Categorical(['test','train','train','test'])})

In [ ]:
df

   a          b  c  d      e
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.head(2) #ascending order in defaule

   a          b  c  d      e
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train

In [ ]:
df.tail(2) #decending order

   a          b  c  d      e
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.to_numpy()

array([[1, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test'],
       [2, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [3, Timestamp('2022-03-10 00:00:00'), 1, 5, 'train'],
       [4, Timestamp('2022-03-10 00:00:00'), 1, 5, 'test']], dtype=object)

In [ ]:
df.index #to get with index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df.columns #to display with column

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
df.describe()

              a    c    d
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [ ]:
df.sort_index(axis = 1, ascending = False)

       e  d  c          b  a
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [ ]:
df.sort_values(by = 'a')

   a          b  c  d      e
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.loc[d[0]]

a                      2
b    2022-03-10 00:00:00
c                      1
d                      5
e                  train
Name: 1, dtype: object

In [ ]:
df.loc[:,:] #multi select data

   a          b  c  d      e
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.loc[:,['a','b']]

   a          b
0  1 2022-03-10
1  2 2022-03-10
2  3 2022-03-10
3  4 2022-03-10

In [ ]:
#from position

df.iloc[3]

a                      4
b    2022-03-10 00:00:00
c                      1
d                      5
e                   test
Name: 3, dtype: object

In [ ]:
df.iloc[0:2,3:5]

   d      e
0  5   test
1  5  train

In [ ]:
df[df['a'] >2] #greater than 2 & viewing data

   a          b  c  d      e
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
isnull() #empty
dropna() #delete
fillna() #fill/add
isna(na)
df.mean #to find mean of data

In [ ]:
df = pd.Series([1,2,3,np.nan,4,5]).shift(2)
#nan values because it shifts values to create values

In [ ]:
df

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    NaN
dtype: float64

In [ ]:
df.apply(np.cumsum) #cumilative object

0    [nan]
1    [nan]
2    [1.0]
3    [2.0]
4    [3.0]
5    [nan]
dtype: object

In [ ]:
df.value_counts() #count values

1.0    1
2.0    1
3.0    1
dtype: int64

In [ ]:
s = pd.Series(['fun','enjoy','learn',np.nan])

In [ ]:
s.str.lower()

0      fun
1    enjoy
2    learn
3      NaN
dtype: object

In [ ]:
s.str.upper()

0      FUN
1    ENJOY
2    LEARN
3      NaN
dtype: object

Class_8  date:11/30/2022